<div class="Wrapper">
    <p><b>Dear <%=name %>,<b></p>
      <p>Happy birthday!</p>
        <p>On this special day, we wanted to take a moment to celebrate you and wish you a day filled with joy, laughter, and wonderful memories. May this new year of your life bring you happiness and success in all your endeavors.</p><br>
        <p>As a valued member of our team, we appreciate your dedication, hard work, and positive attitude. Your contributions have made a significant impact on our organization, and we are grateful to have you on board.</p>
        <p>Enjoy your birthday to the fullest, and here's to another amazing year ahead!</p>
        <p>
          <b>Thanks & Regards</b><br>
            Policyplace  
        </p>
</div>